body {
    padding-top: 5rem;
}


.desc p {


  color:  rgb(119, 119, 119);
}

.profile-container{

    margin: 10px;

    text-align: center;
    width: 30vw;
    align-content: center;
    border-radius: 10px;
    border: solid 1px rgb(197, 197, 197);
}

.top{
    padding: 10px;
    height: 350px;    
    border-radius: 10px 10px 0 0 ;


text-align: center;
align-items: center;

background: rgb(28,172,120);
background: radial-gradient(circle, rgba(28,172,120,1) 11%, rgb(69, 177, 137) 46%, rgba(28,172,120,1) 92%);


    /* background-color: rgb(61, 126, 93); */

}

.bottom{

    text-align: center;
    align-items: center;
    align-content: center;
    
    
    }
    

.profile-stats-container{

align-self: center;
    display: flex;
    justify-content: space-evenly;
}


.follow-button{
    margin: 30px;
    width: 180px;
    height: 40px;
    border-radius: 10px;

    background-color: greenyellow;
}

img{


    width: 150px;
    height: 150px;
    border-radius: 150px;
}