{% extends "base.html" %}



{% block main %}
<h1>
    Profile
        </h1>
    

<div class = "profile-container">


<div class = "top">

    <img src="{{ url_for('static', filename='picture.jpg') }}" alt="Profile Picture">
<h1>Tareque Robinson</h1>
<p>@tarequerobinson</p>
<p>Kingston, Jamaica</p>
<p>{{date_joined}}</p>
</div>




<div class = "bottom">

    <div class="desc">
        <p>Tareque Robinson is a <span>visionary</span> who seeks to bring to life his many conceptualizations and ideas. 
            Ideas are vast and endless but not until one acts upon an idea will it be anything of significance. 
            One has to develop and deploy a way of thinking which gives room for error, a way of thinking that appreciates that failure 
            is merely a path towards eventual and inevitable success.
        </p>
            

    </div>

    <div class = "profile-stats-container">

    <div class = "profile-stats">

        <h2>10</h2>
        <p>Posts</p>
    </div>

    <div class = "profile-stats">

        <h2>0</h2>
        <p>Following</p>
    </div>
    <div class = "profile-stats">

        <h2>10</h2>
        <p>Followers</p>
    </div>


    </div>

    <div>


    </div>

    <button class = "follow-button">Follow</button>

</div>









</div>


{% endblock %}
